<footer>
    <div class="container">
        <div class="social-links">
            <a href="https://github.com/mehdi-benattia" class="social-link" title="GitHub">🐙</a>
            <a href="#" class="social-link" title="LinkedIn">💼</a>
            <a href="mailto:mehdi.benattia01@gmail.com" class="social-link" title="Email">📧</a>
            <a href="#" class="social-link" title="Twitter">🐦</a>
        </div>
        <p>&copy; 2025 Mehdi BEN ATTIA. All rights reserved.</p>
            <a href="#" class="social-link">🐙</a>
            <a href="#" class="social-link">🐦</a>
            <a href="#" class="social-link">📧</a>
        </div>
        <p>&copy; 2025 Your Name. All rights reserved.</p>
    </div>
</footer>