<section id="travel" class="section travel-section fade-in">
  <div class="container">
    <h2 class="section-title">🌍 My Travel Gallery</h2>
    <div class="masonry-gallery" id="masonryGallery">
      <div class="gallery-item germany" data-country="Germany"><img src="public/images/travel/gallery/IMG_0210.jpg" alt="IMG_0210"
          data-caption="IMG_0210"></div>
      <div class="gallery-item germany" data-country="Germany"><img src="public/images/travel/gallery/IMG_0226.JPG" alt="IMG_0226"
          data-caption="IMG_0226"></div>
      <div class="gallery-item germany" data-country="Germany"><img src="public/images/travel/gallery/IMG_0499.JPG" alt="IMG_0499"
          data-caption="IMG_0499"></div>
      <div class="gallery-item"><img src="public/images/travel/gallery/IMG_1572.JPG" alt="IMG_1572"
          data-caption="IMG_1572"></div>
      <div class="gallery-item italy" data-country="Italy"><img src="public/images/travel/gallery/IMG_1902.JPG" alt="IMG_1902"
          data-caption="IMG_1902"></div>
      <div class="gallery-item italy" data-country="Italy"><img src="public/images/travel/gallery/72560.JPG" alt="75260"
          data-caption="IMG_1902"></div>
      <div class="gallery-item italy" data-country="Italy"><img src="public/images/travel/gallery/IMG_1996.JPG" alt="IMG_1996"
          data-caption="IMG_1996"></div>
      <div class="gallery-item austria" data-country="Austria"><img src="public/images/travel/gallery/IMG_2255.JPG" alt="IMG_2255"
          data-caption="IMG_2255"></div>
      <div class="gallery-item austria" data-country="Austria"><img src="public/images/travel/gallery/IMG_2303.JPG" alt="IMG_2303"
          data-caption="IMG_2303"></div>
      
      <div class="gallery-item austria" data-country="Austria"><img src="public/images/travel/gallery/IMG_2366.JPG" alt="IMG_2366"
          data-caption="IMG_2366"></div>
          <div class="gallery-item netherlands" data-country="Netherlands"><img src="public/images/travel/gallery/IMG_3628.JPG" alt="IMG_3628"
            data-caption="IMG_3628"></div>
      <div class="gallery-item austria" data-country="Austria"><img src="public/images/travel/gallery/IMG_2383.JPG" alt="IMG_2383"
          data-caption="IMG_2383"></div>
      <div class="gallery-item hungary" data-country="Hungary"><img src="public/images/travel/gallery/IMG_2430.JPG" alt="IMG_2430"
          data-caption="IMG_2430"></div>
        <div class="gallery-item austria" data-country="Austria"><img src="public/images/travel/gallery/IMG_2309.JPG" alt="IMG_2309"
        data-caption="IMG_2309"></div>
      <div class="gallery-item netherlands" data-country="Netherlands"><img src="public/images/travel/gallery/IMG_3301.JPG" alt="IMG_3301"
          data-caption="IMG_3301"></div>
      <div class="gallery-item netherlands" data-country="Netherlands"><img src="public/images/travel/gallery/IMG_3548.JPG" alt="IMG_3548"
          data-caption="IMG_3548"></div>
      <div class="gallery-item netherlands" data-country="Netherlands"><img src="public/images/travel/gallery/IMG_3626.JPG" alt="IMG_3626"
          data-caption="IMG_3626"></div>
      
      <div class="gallery-item netherlands" data-country="Netherlands"><img src="public/images/travel/gallery/IMG_3634.JPG" alt="IMG_3634"
          data-caption="IMG_3634"></div>
      <div class="gallery-item italy" data-country="Italy"><img src="public/images/travel/gallery/IMG_7809.JPG" alt="IMG_7809"
          data-caption="IMG_7809"></div>
      <div class="gallery-item italy" data-country="Italy"><img src="public/images/travel/gallery/IMG_7948.JPG" alt="IMG_7948"
          data-caption="IMG_7948"></div>
      <div class="gallery-item belgium" data-country="Belgium"><img src="public/images/travel/gallery/IMG_8041.jpg" alt="IMG_8041"
          data-caption="IMG_8041"></div>
      <div class="gallery-item belgium" data-country="Belgium"><img src="public/images/travel/gallery/IMG_8124.jpg" alt="IMG_8124"
          data-caption="IMG_8124"></div>
      <div class="gallery-item Portugal" data-country="Portugal"><img src="public/images/travel/gallery/IMG_9269.jpg" alt="IMG_9269"
          data-caption="IMG_9269"></div>
      <div class="gallery-item Portugal" data-country="Portugal"><img src="public/images/travel/gallery/IMG_9461.jpg" alt="IMG_9461"
          data-caption="IMG_9461"></div>
      <div class="gallery-item Portugal" data-country="Portugal"><img src="public/images/travel/gallery/IMG_9791.jpg" alt="IMG_9791"
          data-caption="IMG_9791"></div>

    </div>
  </div>
</section>